<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Ethio Bingo</title>

    <script src="https://telegram.org/js/telegram-web-app.js"></script>

    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="container">

<h1>🇪🇹 Ethio Bingo</h1>

<div class="card">

<h3>Balance</h3>

<div class="balance">
0.00 Birr
</div>

<button class="deposit" onclick="deposit()">
💳 Deposit
</button>

<button class="play" disabled>
🎮 Play
</button>

<p>
Play button will unlock after your deposit is approved.
</p>

</div>

<div class="card">

<h2>Your Bingo Card</h2>

<table>

{% for row in card %}

<tr>

{% for item in row %}

<td>{{ item }}</td>

{% endfor %}

</tr>

{% endfor %}

</table>

</div>

</div>

<script src="/static/script.js"></script>

</body>
</html>
